.comments {
  overflow-y: auto;
  word-break: break-word;
  padding: 0 2rem;
}

.comments li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.single.comments {
  padding: 0px;
}

.comments::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  border-radius: 10px;
}

.comments::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fb1;
  width: 5px;
}
